@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

Messages from the server 👇

<ul>
    @foreach (var message in _messages)
    {
        <li>@message</li>
    }
</ul>

@code
{
    private HubConnection? _hubConnection;
    private readonly List<string> _messages = new();

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(
                "https://localhost:7254/notifications",
                o =>
                o.AccessTokenProvider = ()
                => Task
                .FromResult<string?>(
                    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6InRlc3R1c2VyIiwic3ViIjoidGVzdHVzZXIiLCJqdGkiOiI1NjU0MmQxNyIsImF1ZCI6WyJodHRwOi8vbG9jYWxob3N0OjYxNzExIiwiaHR0cHM6Ly9sb2NhbGhvc3Q6NDQzNzgiLCJodHRwOi8vbG9jYWxob3N0OjUwMjYiLCJodHRwczovL2xvY2FsaG9zdDo3MjU0Il0sIm5iZiI6MTc0MTYxMDY2NCwiZXhwIjoxNzQ5NTU5NDY0LCJpYXQiOjE3NDE2MTA2NjQsImlzcyI6ImRvdG5ldC11c2VyLWp3dHMifQ.PjLRlOHUqqyTTNdTjXnVUfjqFfAFbVHIgTYq4wNdGBo"))
            .Build();

        _hubConnection.On<string>("ReceiveNotification", message =>
        {
            _messages.Add(message);

            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }
}
